/Jogo/[Ll]ibrary/
/Jogo/[Tt]emp/
/Jogo/[Oo]bj/
/Jogo/[Bb]uild/
/Jogo/[Bb]uilds/
/Jogo/[Ll]ogs/
/Jogo/[Uu]ser[Ss]ettings/

/Jogo/.vs/

*.csproj
*.sln
*.user
*.userprefs
*.suo
*.vsidx
*.VC.db
*.VC.opendb
